# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env

# FAISS index
faiss_index_*/
*.faiss
*.pkl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / IDE
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
